html,
body {
  margin: 0;
  padding: 0;
}

#background {
  background-image: url("./assets/forrest.png");
  width: 100%;
  height: calc(100vh - 200px);
  background-size: cover;
  padding-top: 200px;
}

#gui-container {
  display: flex;
  justify-content: center;
}

#canvas-border {
  background-image: url("./assets/border.png");
  width: 1088px;
  height: 544px;
  padding-top: 32px;
  box-shadow: 6px 6px 6px 5px rgb(0 0 0 / 30%);
}

#canvas-container {
  position: relative;
  width: 1024px;
  height: 512px;
  margin: 0 auto;
}

canvas {
  position: absolute;
}

#canvas-background {
  z-index: 1;
}

#canvas-game {
  z-index: 2;
}

#menu-border {
  background-image: url("./assets/border.png");
  width: 192px;
  height: 544px;
  padding-top: 32px;
  box-shadow: 6px 6px 6px 5px rgb(0 0 0 / 30%);
  margin-left: 50px;
}

#menu-container {
  height: 512px;
  width: 128px;
  margin-left: 32px;
  background-image: url("./assets/menuBackground.png");
  background-size: auto;
}

#toggle-tiles-info {
  padding: 12px 8px;
  margin: 10px;
}
