html,
body {
  margin: 0;
  padding: 0;
  cursor: url("./assets/cursor/CursorBrown.png") 11 6, auto;
}

#background {
  background-image: url("./assets/forrest.png");
  width: 100%;
  height: calc(100vh - 40px);
  background-size: cover;
  padding-top: 40px;
}

#title-container {
  margin: 0 0 50px 0;
  color: white;
  text-align: center;
}

#title {
  background-image: url("./assets/titleContainer.png");
  display: inline-block;
  padding: 12px 20px;
  background-size: contain;
}

#gui-container {
  display: flex;
  justify-content: center;
}

#canvas-border {
  background-image: url("./assets/border.png");
  width: 1056px;
  height: 528px;
  padding-top: 16px;
}

#canvas-container {
  position: relative;
  width: 1024px;
  height: 512px;
  margin: 0 auto;
}

canvas {
  position: absolute;
}

#canvas-background {
  z-index: 1;
}

#canvas-game {
  z-index: 2;
}

#menu-border {
  background-image: url("./assets/borderDark.png");
  width: 192px;
  margin-left: 50px;
}

#menu-container {
  height: 512px;
  width: 160px;
  margin: 16px 0 0 16px;
  background-image: url("./assets/menuBackground.png");
  background-size: cover;
  color: white;
  /* todo add different color for cursor on hover */
}

#menu-towers-container {
  display: flex;
  flex-wrap: wrap;
}

.menu-item {
  margin-bottom: 10px;
  width: 80px;
  height: 80px;
}

.menu-item:hover {
  outline: 1px solid white;
}

.menu-item:active {
  scale: 0.98;
}

#arcaneArcher {
  background-image: url("./assets/menu/arcaneArcherMenu.png");
  background-size: cover;
}

#toggle-tiles-info {
  padding: 12px 8px;
  margin: 10px;
}

.box-shadow {
  box-shadow: 6px 6px 6px 5px rgb(0 0 0 / 30%);
}

.arcaneArcher {
  cursor: url("./assets/cursor/cursorArcaneArcher.png") 38 48, auto;
}
